* {
    margin: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
}

/* nav section  */

.nav_section {
    display: flex;
    justify-content: space-between;
    margin: 20px 170px;
}

.nav_left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_left img {
    width: 70px;
    height: 30px;
    margin-right: 10px;
}

.nav_left h1 {
    font-family: Work Sans;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 700;
    color: #0B0223;
}

.nav_right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_right_list>ul {
    display: flex;
}

.nav_right_list li {
    text-decoration: none;
    list-style: none;
    margin: 0 25px;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    color: #3C354F;
}

.follow_us {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 0 10px;
}

.follow_us img {
    width: 30px;
    height: 20px;
    padding: 10px;
}

/* banner section */
.banner {
    display: flex;
    justify-content: space-between;
    padding: 10px 170px;
    background-image: url(images/Group\ 14.png);
}

.banner_left {
    margin-top: 75px;
}

.banner_left h2 {
    margin-top: 30px;
    color: #0B0223;
    font-size: 2.2rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-block-start: 0;
    margin-block-end: 0;
}

.banner_left h1 {
    font-size: 75px;
    font-style: normal;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-block-start: 0;
    margin-block-end: 0;
}

.banner_left_link {
    margin: 20px 0;
}

.banner_left_link_item {
    display: flex;
    padding: 0 10px;
    align-items: center;

}

.banner_left_link_item img {
    width: 20px;
    height: 24px;
    margin-right: 10px;
}

.banner_left_link_item p {
    color: #534C64;
    font-size: 1rem;
    font-weight: 500;
    text-transform: lowercase;
    margin-block-start: 0;
    margin-block-end: 0;
}

.banner_btn button {
    background: #F144AE;
    color: #FFF;
    font-size: .7rem;
    text-transform: uppercase;
    padding: 15px 20px;
    border: 0;
    border-radius: 48px;
    cursor: pointer;
}

#btn_2 {
    background: #4EC5F7;
}


.banner_right {}

.banner_right img {
    width: 70%;
    margin-left: 250px;
}


/* we are gamer */
.we_are_gamer {
    display: flex;
    margin: 20px 80px;
    justify-content: center;

}

.we_are_gamer_left img {
    margin-top: 20px;
    width: 600px;

}

.we_are_gamer_right {
    text-align: right;
}

.we_are_gamer_right h1 {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 20px 0;
}



.we_are_gamer_right p {
    color: #534C64;
    font-size: .8rem;
    font-weight: 400;
    margin-bottom: 20px;
}

.we_are_gamer_right button {
    background: #F144AE;
    color: #FFF;
    font-size: .7rem;
    text-transform: uppercase;
    padding: 15px 20px;
    border: 0;
    border-radius: 48px;
    cursor: pointer;
    margin-bottom: 20px;
}

.we_are_gamer_right h4 {
    color: #534C64;
    font-size: 1rem;
    font-weight: 500;

}

.we_are_gamer_right h2 {
    color: #534C64;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;

}

/* online games section */
.online_games {
    margin: 50px 150px;
}

.online_games_upper_part {
    text-align: center;
    margin: 30px 0;
}

.online_games_upper_part h1 span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.online_games_upper_part p {
    color: #534C64;
    font-size: .8rem;
    font-weight: 400;
    margin-top: 10px;
}


.online_games_lower_part {
    display: flex;
}

.online_games_images img {
    width: 250px;
    height: 300px;
    border-radius: 16px;
    border: 0;
    margin: 0 10px;
}

.online_games_images p {
    color: #534C64;
    font-size: .8rem;
    font-weight: 500;
}

/* game link section */
.game_link_section {
    margin: 20px 150px;
}

.game_link_section_up {
    display: flex;
    /* gap: 10px; */

}


.upper_link {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.upper_link:hover{
    border-radius: 50px;
    border: 2px solid #FF42A5;
    padding: 5px 10px;
}

.upper_link img {
    width: 35px;
    height: auto;
    margin-right: 10px;
}

.upper_link h2 {
    color: #0B0223;
    font-size: .9rem;
    font-style: normal;
    font-weight: 600;
}

.game_link_section_down{
    display: flex;
    gap: 10px;
    margin-top: 20px;
}



/* Responsive */

/* for mobile view */
@media only screen and (max-width : 576px) {

    /* nav section */
    .nav_section {
        flex-direction: column;
        margin-top: 30px;
    }

    .nav_right {
        flex-direction: column;
    }


    .nav_right_list>ul {
        flex-direction: column;

    }

    .nav_right_list li {
        margin: 10px 0;
        justify-content: center;
        align-items: center;
    }

    /* banner section */
    .banner {
        flex-direction: column-reverse;
        padding: 20px 20px;
    }

    .banner_left {
        margin-left: 80px;
    }

    .banner_right {
        margin-top: 30px;
    }

    .banner_right img {
        width: 50%;
        margin: 10px 100px;
    }

    /* we are gamer */
    .we_are_gamer {
        flex-direction: column;
        margin: 20px auto;
        text-align: center;
    }

    .we_are_gamer_left img {
        margin: 30px auto;
        width: 450px;

    }

    .we_are_gamer_right {
        text-align: center;
        margin: 0 auto;
    }

    /* online games section */
    .online_games {
        margin: 50px auto;
    }

    .online_games_lower_part {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .online_games_images {
        padding: 10px;
    }

    /* game link section */

    .game_link_section{
        margin: 0 auto;
        padding: 0 50px;
    }
    .game_link_section_up{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

}


/* for tablet view */

@media screen and (min-width: 576px) and (max-width: 992px) {

    /* nav section */
    .nav_section {
        flex-direction: column;
    }

    .nav_right {
        flex-direction: column;
    }


    .nav_right_list>ul {
        flex-direction: column;

    }

    .nav_right_list li {
        margin: 10px 0;
        justify-content: center;
        align-items: center;
    }

    .follow_us {
        margin-left: 30px;
    }

    /* banner section */
    .banner {
        flex-direction: column;
        padding: 20px 20px;
    }

    .banner_left {
        margin: 0 auto;
    }

    .banner_right {

        margin: auto;
    }

    .banner_right img {
        width: 70%;
        margin: auto 120px;

    }

    /* we are gamer */
    .we_are_gamer {
        flex-direction: column;
        /* margin: 20px auto; */
    }

    .we_are_gamer_left img {
        width: 100%;
        margin: 0 auto;

    }

    .we_are_gamer_right {
        margin: 0 auto;
        text-align: center;

    }

    /* online games section */
    .online_games {
        margin: 50px 20px auto;
    }

    .online_games_images {}

    .online_games_images img {
        width: 90%;
        height: 80%;
        padding: 0 10px;
        margin: 0 auto;
    }

}