* {
    margin: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
}

/* nav section  */

.nav_section {
    display: flex;
    justify-content: space-between;
    margin: 20px 170px;
}

.nav_left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_left img {
    width: 70px;
    height: 30px;
    margin-right: 10px;
}

.nav_left h1 {
    font-family: Work Sans;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 700;
    color: #0B0223;
}

.nav_right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_right_list>ul {
    display: flex;
}

.nav_right_list li {
    text-decoration: none;
    list-style: none;
    margin: 0 25px;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    color: #3C354F;
}

.follow_us {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 0 10px;
}

.follow_us img {
    width: 30px;
    height: 20px;
    padding: 10px;
}

/* banner section */
.banner {
    display: flex;
    justify-content: space-between;
    padding: 10px 170px;
    background-image: url(images/Group\ 14.png);
}

.banner_left {
    margin-top: 75px;
}

.banner_left h2 {
    margin-top: 30px;
    color: #0B0223;
    font-size: 2.2rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-block-start: 0;
    margin-block-end: 0;
}

.banner_left h1 {
    font-size: 75px;
    font-style: normal;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-block-start: 0;
    margin-block-end: 0;
}

.banner_left_link {
    margin: 20px 0;
}

.banner_left_link_item {
    display: flex;
    padding: 0 10px;
    align-items: center;

}

.banner_left_link_item img {
    width: 20px;
    height: 24px;
    margin-right: 10px;
}

.banner_left_link_item p {
    color: #534C64;
    font-size: 1rem;
    font-weight: 500;
    text-transform: lowercase;
    margin-block-start: 0;
    margin-block-end: 0;
}

.banner_btn button {
    background: #F144AE;
    color: #FFF;
    font-size: .7rem;
    text-transform: uppercase;
    padding: 15px 20px;
    border: 0;
    border-radius: 48px;
    cursor: pointer;
}

#btn_2 {
    background: #4EC5F7;
}


.banner_right {}

.banner_right img {
    width: 70%;
    margin-left: 250px;
}


/* we are gamer */
.we_are_gamer {
    display: flex;
    margin: 20px 120px;
    justify-content: space-between;

}

.we_are_gamer_left img {
    margin-top: 20px;
    width: 600px;

}

.we_are_gamer_right {
    text-align: right;
}

.we_are_gamer_right h1 {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 20px 0;
}



.we_are_gamer_right p {
    color: #534C64;
    font-size: .8rem;
    font-weight: 400;
    margin-bottom: 20px;
}

.we_are_gamer_right button {
    background: #F144AE;
    color: #FFF;
    font-size: .7rem;
    text-transform: uppercase;
    padding: 15px 20px;
    border: 0;
    border-radius: 48px;
    cursor: pointer;
    margin-bottom: 20px;
}

.we_are_gamer_right h4 {
    color: #534C64;
    font-size: 1rem;
    font-weight: 500;

}

.we_are_gamer_right h2 {
    color: #534C64;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;

}

/* online games section */
.online_games {
    margin: 50px 150px;
}

.online_games_upper_part {
    text-align: center;
    margin: 30px 0;
}

.online_games_upper_part h1 span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.online_games_upper_part p {
    color: #534C64;
    font-size: .8rem;
    font-weight: 400;
    margin-top: 10px;
}


.online_games_lower_part {
    display: flex;
    position: relative;
}

.online_games_lower_part:hover .text{
    visibility: visible;
}

.online_games_images{
    width: 250px;
    height: 300px;
    margin: 0 10px;
}
/* 
.online_games_images:hover .text{
    visibility: visible;
} */

.text{
    font-size: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 20px;
    background-color: slategrey;
    width: 240px;
    height: 290px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    color: rgb(0, 0, 0);
    opacity: .5;
    border: 5px solid rgb(204, 51, 77);
    border-radius: 16px;
    visibility: hidden;
}

.text h3{
    font-size: 1rem;
}

.text img{
    width: 50px;
}

.online_games_images img {
    width: 250px;
    height: 300px;
    border-radius: 16px;
    border: 0;
    margin: 0 10px;
    object-fit: cover;
}

.online_games_images p {
    color: #534C64;
    font-size: .8rem;
    font-weight: 500;
}


/* play instantly section */
.play_instantly {
    display: flex;
    padding: 20px 130px;
    justify-content: space-between;
    height: 600px;
}

.play_instantly_left {
    margin-left: 150px;
    width: 300px;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;


}

.play_instantly_left h1 {
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 10px;
}

.play_instantly_left p {
    color: #534C64;
    font-size: .8rem;
    font-style: normal;
    font-weight: 400;
    padding-bottom: 150px;
}


.play_instantly_right img {
    width: 445px;
}

.play_instant_badge{
    position: relative;
    bottom: 200px;
    right: 100px;
    display: block;
    
}

.play_instant_badge img{
    width: 220px;
    border: .1px solid rgba(51, 44, 43, 0.201);
    border-radius: 5px;
    
}




/* game link section */
.game_link_section {
    padding-bottom: 50px;
    display: grid;
    grid-template-areas:
    "upper_link     upper_link      upper_link      upper_link      upper_link ";
    gap: 10px;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;

}

.upper_link{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:.7rem;
    font: 1rem;
    padding: 10px 10px;
}

.upper_link img{
    width: 35px;
    height: 35px;
}

.upper_link h2{
    font-size: .9rem;
    color: #0B0223;

}

.upper_link:hover{
    border: 2px solid rgb(210, 73, 151);
    border-radius: 45px;
     
}


/* footer section */
.footer {
    background-color: #0B0223;
    text-align: center;
    padding-top: 40px;
    color: #FFF;
}

.footer_title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    color: #FFF;
}

.footer_title img {
    width: 50px;
    height: 25px;
    margin-right: 10px;

}


.footer_list ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-inline-start: 0px;
}

.footer_list li {
    list-style: none;
    font-size: .7rem;
    cursor: pointer;
}

.footer_list ul li a {
    text-decoration: none;
    color: #ffffff;
    
}

.footer_icon_list {
    display: flex;
    justify-content: center;
}

.footer_icon_list ul {
    display: flex;
    color: #FFF;
    padding-inline-start: 0px;
}

.footer_icon_list li {
    list-style: none;
    color: #FFF;
    padding: 30px 10px;

}

.footer_icon_list img {
    width: 35px;
    height: 35px;
    color: #FFF;
    cursor: pointer;
}

.footer_policy {
    display: flex;
    justify-content: center;
}

.footer_policy ul {
    display: flex;

}

.footer_policy li {
    list-style: none;
    color: rgba(255, 255, 255, 0.60);
    font-size: .6rem;
    padding: 15px 25px;
    cursor: pointer;
}
.footer_copyright{
    padding-bottom: 20px;
}

.footer_copyright p{
    color: rgba(255, 255, 255, 0.60);
    font-size: .6rem;
    padding: 15px 25px;
}



/* Responsive */

/* for mobile view */
@media only screen and (max-width : 576px) {

    /* nav section */
    .nav_section {
        flex-direction: column;
        margin-top: 30px;
    }

    .nav_right {
        flex-direction: column;
    }


    .nav_right_list>ul {
        flex-direction: column;

    }

    .nav_right_list li {
        margin: 10px 0;
        justify-content: center;
        align-items: center;
    }

    /* banner section */
    .banner {
        flex-direction: column-reverse;
        padding: 20px 20px;
    }

    .banner_left {
        margin-left: 80px;
    }

    .banner_right {
        margin-top: 30px;
    }

    .banner_right img {
        width: 50%;
        margin: 10px 100px;
    }

    /* we are gamer */
    .we_are_gamer {
        flex-direction: column;
        margin: 20px auto;
        text-align: center;
    }

    .we_are_gamer_left img {
        margin: 30px auto;
        width: 450px;

    }

    .we_are_gamer_right {
        text-align: center;
        margin: 0 auto;
    }

    /* play instantly section */ 

    .play_instantly{
        flex-direction: column;
        margin: 0 auto;
        padding: 0 20px;
        justify-content: center;
    }

    .play_instantly_left{
        text-align: center;
        margin: 0  auto;

    }

    .play_instantly_left p{
        padding-bottom: 40px;
    }

    .play_instantly_right img{
        width: 250px;
        margin-left: 100px;
    }

    .play_instant_badge img{
        width: 150px;
        position: relative;
        left: 50px;
        top:80px;
    }


    /* online games section */
    .online_games {
        margin: 50px auto;
    }

    .online_games_lower_part {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .online_games_images {
        padding: 10px;
    }

    /* game link section */

    .game_link_section {
        margin-bottom: 50px;
        display: grid;
        grid-template-areas:
        "upper_link     upper_link      upper_link ";
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .upper_link{
        padding: 0 10px;
    }
    .upper_link h2{
        font-size: .5rem;
        color: #0B0223;
    
    }

    /* footer area */

    .footer{
        padding: 20px 100px;
        margin: 0 auto;
    }

    .footer_list{
        justify-content: center;
        align-items: center;
    }

    .footer_list ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
       
    }

    .footer_icon_list ul{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0px;
        margin-top: 20px;
    }
    .footer_icon_list li {
        padding: 5px 20px;
    }

    .footer_policy ul{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-inline-start: 0px;
    }

    .footer_policy li{
        padding: 10px ;
    }
}


/* for tablet view */

@media screen and (min-width: 576px) and (max-width: 992px) {

    /* nav section */
    .nav_section {
        flex-direction: column;
    }

    .nav_right {
        flex-direction: column;
    }


    .nav_right_list>ul {
        flex-direction: column;

    }

    .nav_right_list li {
        margin: 10px 0;
        justify-content: center;
        align-items: center;
    }

    .follow_us {
        margin-left: 30px;
    }

    /* banner section */
    .banner {
        flex-direction: column;
        padding: 20px 20px;
    }

    .banner_left {
        margin: 0 auto;
    }

    .banner_right {

        margin: auto;
    }

    .banner_right img {
        width: 70%;
        margin: auto 120px;

    }

    /* we are gamer */
    .we_are_gamer {
        flex-direction: column;
        /* margin: 20px auto; */
    }

    .we_are_gamer_left img {
        width: 100%;
        margin: 0 auto;

    }

    .we_are_gamer_right {
        margin: 0 auto;
        text-align: center;

    }


    /* play instantly section */
     .play_instantly{
        flex-direction: column;
        margin-top: 300px;
        justify-content: center;
    }

    .play_instantly_left{
        text-align: center;
        margin: 0 auto;
    }

    .play_instantly_right {
        margin: 0 auto;
        padding-bottom: 100px;
    }

    /* game link section */
    .game_link_section {
        margin-bottom: 50px;
        display: grid;
        grid-template-areas:
        "upper_link     upper_link      upper_link ";
        justify-content: center;
        align-items: center;
        padding: 0;
    }


    /* online games section */
    .online_games {
        margin: 50px 20px auto;
    }

    .online_games_images {}

    .online_games_images img {
        width: 90%;
        height: 80%;
        padding: 0 10px;
        margin: 0 auto;
    }

}